#sub_coop {margin:auto;border:0;text-align:left;widith:951px;height:738px;background-image:url('../image/subimg/0501_1.jpg');background-repeat: no-repeat;}
#sub_coop .select1{position:absolute;padding-top:44px;padding-left:164px;}
#sub_coop .select11 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop .select2{position:absolute;padding-top:44px;padding-left:642px;}
#sub_coop .select21 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop .subject1 {margin:73px 0 0 164px;border:#dfdfdf solid 1px;width:400px;height:20px;}
#sub_coop .area1 {margin:8px 0 0 164px;border:#dfdfdf solid 1px;}
#sub_coop .file1 {margin:58px 0 0 164px;width:460px;height:24px;}
#sub_coop .radio1{margin:94px 0 0 164px;border:0;}
#sub_coop .radio2{margin:0 0 0 15px;border:0;}
#sub_coop .input1 {margin:34px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop .input2 {margin:6px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop .file2 {margin:10px 0 0 164px;width:460px;height:24px;}

#sub_coop2 {margin:auto;border:0;text-align:left;widith:951px;height:738px;background-image:url('../image/subimg/0501_1.jpg');background-repeat: no-repeat;}
#sub_coop2 .select1{position:absolute;padding-top:44px;padding-left:164px;}
#sub_coop2 .select11 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop2 .select2{position:absolute;padding-top:44px;padding-left:642px;}
#sub_coop2 .select21 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop2 .subject1 {margin:76px 0 0 164px;border:#dfdfdf solid 1px;width:400px;height:20px;}
#sub_coop2 .area1 {margin:12px 0 0 164px;border:#dfdfdf solid 1px;}
#sub_coop2 .file1 {margin:68px 0 0 164px;width:460px;height:24px;}
#sub_coop2 .radio1{margin:95px 0 0 164px;border:0;}
#sub_coop2 .radio2{margin:0 0 0 15px;border:0;}
#sub_coop2 .input1 {margin:32px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop2 .input2 {margin:4px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop2 .file2 {margin:10px 0 0 164px;width:460px;height:24px;}

#sub_coop3 {margin:auto;border:0;text-align:left;widith:951px;height:738px;background-image:url('../image/subimg/0501_1.jpg');background-repeat: no-repeat;}
#sub_coop3 .select1{position:absolute;padding-top:46px;padding-left:164px;}
#sub_coop3 .select11 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop3 .select2{position:absolute;padding-top:46px;padding-left:642px;}
#sub_coop3 .select21 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop3 .subject1 {margin:72px 0 0 164px;border:#dfdfdf solid 1px;width:400px;height:20px;}
#sub_coop3 .area1 {margin:10px 0 0 164px;border:#dfdfdf solid 1px;}
#sub_coop3 .file1 {margin:38px 0 0 164px;width:460px;height:24px;}
#sub_coop3 .radio1{margin:96px 0 0 164px;border:0;}
#sub_coop3 .radio2{margin:0 0 0 15px;border:0;}
#sub_coop3 .input1 {margin:34px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop3 .input2 {margin:6px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop3 .file2 {margin:12px 0 0 164px;width:460px;height:24px;}

#sub_coop4 {margin:auto;border:0;text-align:left;widith:951px;height:738px;background-image:url('../image/subimg/0501_1.jpg');background-repeat: no-repeat;}
#sub_coop4 .select1{position:absolute;padding-top:46px;padding-left:164px;}
#sub_coop4 .select11 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop4 .select2{position:absolute;padding-top:46px;padding-left:642px;}
#sub_coop4 .select21 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop4 .subject1 {margin:72px 0 0 164px;border:#dfdfdf solid 1px;width:400px;height:20px;}
#sub_coop4 .area1 {margin:10px 0 0 164px;border:#dfdfdf solid 1px;}
#sub_coop4 .file1 {margin:40px 0 0 164px;width:460px;height:24px;}
#sub_coop4 .radio1{margin:98px 0 0 164px;border:0;}
#sub_coop4 .radio2{margin:0 0 0 15px;border:0;}
#sub_coop4 .input1 {margin:34px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop4 .input2 {margin:6px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop4 .file2 {margin:12px 0 0 164px;width:460px;height:24px;}

#sub_coop5 {margin:auto;border:0;text-align:left;widith:951px;height:738px;background-image:url('../image/subimg/0501_1.jpg');background-repeat: no-repeat;}
#sub_coop5 .select1{position:absolute;padding-top:42px;padding-left:164px;}
#sub_coop5 .select11 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop5 .select2{position:absolute;padding-top:42px;padding-left:642px;}
#sub_coop5 .select21 {border:#dfdfdf solid 1px;width:300px;height:20px;}
#sub_coop5 .subject1 {margin:72px 0 0 164px;border:#dfdfdf solid 1px;width:400px;height:20px;}
#sub_coop5 .area1 {margin:12px 0 0 164px;border:#dfdfdf solid 1px;}
#sub_coop5 .file1 {margin:74px 0 0 164px;width:460px;height:24px;}
#sub_coop5 .radio1{margin:100px 0 0 164px;border:0;}
#sub_coop5 .radio2{margin:0 0 0 15px;border:0;}
#sub_coop5 .input1 {margin:32px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop5 .input2 {margin:5px 0 0 164px;border:#dfdfdf solid 1px;width:230px;height:20px;}
#sub_coop5 .file2 {margin:14px 0 0 164px;width:460px;height:24px;}