#subboard2 div{top:1px}
#subboard div{top:1px}

.clsBannerScreen {overflow: hidden;position: relative;height: 380px;width: 950px; border:0px solid #e1e1e1; cursor:pointer; clear:both; _margin-top: -12px;}
.clsBannerScreen .images {position:absolute; display:none; }

.clsBannerArrow { position:relative; }
.clsBannerArrow img { position:absolute; z-index:9999; top:190px; left:5px; }
.clsBannerArrow img.right { left:920px; }

#label_3 {}
#label_3 ul, li {list-style:none; z-Index:999;}
#label_3 .clsBannerButton {position:absolute;margin:345px 0 0 20px;width:200px;cursor:pointer;border-bottom:0px solid #e1e1e1;}
#label_3 .clsBannerButton li {width:10px;float:left;border-right:0px solid #e1e1e1;padding:2px 0 0 9px;}
#label_3 .clsBannerButton li.fir {border-left:0px solid #e1e1e1;}
#label_3 .clsBannerButton li.labelOverClass {font-weight:bold;}


div.slides { padding-top: 1px; }
div.latest { width: 950px; height: 39px; background-color: #f1f1f4; }
div.latest div.qna, div.latest div.notice { float: left; margin: 13px 10px 0 28px; _margin: 13px 7px 0 18px; }
div.latest div.qna img, div.latest div.notice img { float: left; }
div.latest div.qna p, div.latest div.notice p { float: left; width: 280px; height: 11px; margin: 0 0 0 10px; padding: 0; overflow: hidden; }
div.latest a.counselling img { float: right; }

ul.mainCommon { margin: 13px 0 0 0; padding: 0; list-style: none; }
ul.mainCommon h1 { margin: 10px 0 12px 0; padding: 0; font-family: "Times New Roman"; font-style: italic; font-size: 20px; font-weight: normal; }
ul.mainCommon h1.blank { height:19px; }
ul.mainCommon li { float: left; margin-right: 8px; }
ul.mainCommon li img.Thumbnail { width:231px; height:129px; }
ul.mainCommon li.noMargin{ margin: 0; }
ul.mainCommon li p { width: 231px; height: 12px; margin: 10px 0 0 0; padding: 0; overflow: hidden; }
ul.mainCommon li p.content { width: 231px; height: 35px; overflow: hidden; color: #7e7e7e; line-height: 18px; font-size: 11px; }

ul.mainCommon1 { margin: 13px 0 0 0; padding: 0; list-style: none; }
ul.mainCommon1 h1 { margin: 20px 0 12px 0; padding: 0; font-family: "Times New Roman"; font-style: italic; font-size: 20px; font-weight: normal; }
ul.mainCommon1 h1.blank { height:19px; }
ul.mainCommon1 li { float: left; margin-right: 8px; }
ul.mainCommon1 li img.Thumbnail { width:231px; height:129px; }
ul.mainCommon1 li.noMargin{ margin: 0; }
ul.mainCommon1 li p { width: 231px; height: 12px; margin: 10px 0 0 0; padding: 0; overflow: hidden; }
ul.mainCommon1 li p.content { width: 231px; height: 35px; overflow: hidden; color: #7e7e7e; line-height: 18px; font-size: 11px; }

h1.mainLinks { margin: 0 50px 0 0; }
ul.mainLinks { margin: 0 0 20px 0; }
ul.mainLinks li { margin-right: 10px; }
ul.mainLinks li.noMargin{ margin: 0; }
ul.mainLinks li img { width:310px; height: 107px; }
ul.mainLinks h1 img {  margin: 10px 0 0px 0; padding: 0; width: auto; height: auto; }
ul.mainLinks h2 { width: 310px; height:12px; margin: 10px 0 0 0; padding: 0; overflow: hidden; color: #363636; font-size: 12px; }
ul.mainLinks p { width: 310px; height: 44px; margin: 0; padding: 0; overflow: hidden; color: #7e7e7e; line-height: 15px; font-size: 11px; }


ul.latestArticle { width: 310px; margin: 10px 0 0 0; padding: 0; }
ul.latestArticle li { float: none; width: 310px; height: 11px; margin: 9px 0; font-size: 12px; overflow: hidden; }
ul.latestArticle li a { color: #363636; }
ul.latestArticle li a:hover { color: #ff0000; }